<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>彗星導航</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="banner">
      <div class="quote">
        <header>
          <nav>
            <img src="../static/image/ExStar.png" alt="ExStar" />
            <ul>
              <li class="Chinese"><a class="active" href="#">首頁</a></li>
              <li class="Chinese">
                <a href="#">服務內容</a>
                <div class="dropdown-content">
                  <a href="../static/service01.html">外匯技術分析圖表</a>
                  <a href="../static/service02.html">外匯時間序列緞帶圖分析</a>
                  <a href="./service03.html">Option 3</a>
                  <a href="./service04.html">投資 X 旅遊雙模態ChatBot</a>
                </div>
              </li>
              <li class="Chinese">
                <a href="../static/technique.html">技術介紹</a>
              </li>
              <li class="Chinese">
                <a href="../static/exschool.html">外匯小學堂</a>
              </li>
              <li class="Chinese">
                <a href="../static/contactus.html">聯絡我們</a>
              </li>
            </ul>
            <ul>
              <li class="English"><a class="active" href="#">Home</a></li>
              <li class="English">
                <a href="#">Service</a>
              </li>
              <li class="English">
                <a href="../static/technique.html">Technique</a>
              </li>
              <li class="English">
                <a href="../static/exschool.html">ExSchool</a>
              </li>
              <li class="English">
                <a href="../static/contactus.html">Contact Us</a>
              </li>
            </ul>
          </nav>
        </header>
        <main>
          <div class="background">
            <section class="product-features">
              <h2>ExStar, Explore the Future</h2>
              <p class="slogan">投資 X 旅遊雙模態，顧好您的全方位</p>
              <div class="feature-container">
                <div class="feature-item">
                  <div class="feature-icon">
                    <img
                      src="https://plus.unsplash.com/premium_photo-1700681802509-d31a20943657?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8SW50dWl0aXZlJTIwSW50ZXJmYWNlfGVufDB8fDB8fHww"
                      alt="Feature 1"
                    />
                  </div>
                  <h3>Intuitive Interface</h3>
                  <p>Experience smooth navigation.</p>
                </div>
                <div class="feature-item">
                  <div class="feature-icon">
                    <img
                      src="https://images.unsplash.com/photo-1584291527908-033f4d6542c8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      alt="Feature 2"
                    />
                  </div>
                  <h3>Advanced Analytics</h3>
                  <p>Unlock valuable insights</p>
                </div>
                <div class="feature-item">
                  <div class="feature-icon">
                    <img
                      src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=1772&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      alt="Feature 3"
                    />
                  </div>
                  <h3>Global Connectivity</h3>
                  <p>Stay connected from anywhere</p>
                </div>
              </div>
            </section>
          </div>
        </main>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/canvas-nest.js/2.0.4/canvas-nest.js"
          integrity="sha512-P+NGabN/TJDOnCVOFJO+E06TBm4i+M8dTT91lWg/8UpwLrzicEXIypmABPpA47D0x6r+yxFHjYIZKWhc1h7xlQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
          color="253,212,107"
          opacity="0.75"
          zIndex="-1"
          count="150"
        ></script>
      </div>
    </div>
  </body>
</html>
