<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>彗星導航</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div class="banner">
      <div class="quote">
        <header>
          <nav>
            <img src="../static/image/ExStar.png" alt="ExStar" />
            <ul>
              <li class="Chinese"><a href="./index.html">首頁</a></li>
              <li class="Chinese">
                <a class="active" href="#">服務內容</a>
                <div class="dropdown-content">
                  <a href="../static/service01.html">外匯技術分析圖表</a>
                  <a href="../static/service02.html">外匯時間序列緞帶圖分析</a>
                  <a href="#">Option 3</a>
                  <a href="./service04.html">投資 X 旅遊雙模態ChatBot</a>
                </div>
              </li>
              <li class="Chinese"><a href="../static/technique.html">技術介紹</a></li>
              <li class="Chinese"><a href="../static/exschool.html">外匯小學堂</a></li>
              <li class="Chinese"><a href="../static/contactus.html">聯絡我們</a></li>
            </ul>
            <ul>
              <li class="English"><a href="./index.html">Home</a></li>
              <li class="English">
                <a class="active" href="#">Service</a>
              </li>
              <li class="English"><a href="../static/technique.html">Technique</a></li>
              <li class="English"><a href="../static/exschool.html">ExSchool</a></li>
              <li class="English"><a href="../static/contactus.html">Contact Us</a></li>
            </ul>
          </nav>
        </header>
        <main>
          <section></section>
          <div id="scatter">
            <script>
              var graphs = {{ plot|safe }};
              Plotly.newPlot('scatter', graphs, {});
            </script>
        </main>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/canvas-nest.js/2.0.4/canvas-nest.js"
          integrity="sha512-P+NGabN/TJDOnCVOFJO+E06TBm4i+M8dTT91lWg/8UpwLrzicEXIypmABPpA47D0x6r+yxFHjYIZKWhc1h7xlQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
          color="253,212,107"
          opacity="0.75"
          zIndex="-1"
          count="150"
        ></script>
      </div>
    </div>
  </body>
</html>
